@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-black: #cbcbcb;
  --custom-gray-light: #cbcbcb;
  --custom-gray: #a7a7a7;
  --custom-gray-dark: #838383;
  --custom-gray-darker: #606060;
  --custom-black-alt: #5C5C5C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --custom-black: #030303;
    --custom-gray-light: #cbcbcb;
    --custom-gray: #a7a7a7;
    --custom-gray-dark: #838383;
    --custom-gray-darker: #606060;
    --custom-black-alt: #5C5C5C;
  }
}



body {
  color: var(--custom-gray);
  background: var(--background);
  font-family: "Exo", serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 100%;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 100px;
}